[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "czso"]
	path = czso
	url = https://github.com/petrbouchal/czso
	shallow = true
	registered = true
	oncran = true
[submodule "statnipokladna"]
	path = statnipokladna
	url = https://github.com/petrbouchal/statnipokladna
	shallow = true
	registered = true
	oncran = true
