[submodule ".registry"]
	path = .registry
	url = https://github.com/petrbouchal/petrbouchal.r-universe.dev
	branch = HEAD
[submodule "CzechData"]
	path = CzechData
	url = https://github.com/JanCaha/CzechData
	registered = false
[submodule "cnbrrr"]
	path = cnbrrr
	url = https://github.com/petrbouchal/cnbrrr
[submodule "czso"]
	path = czso
	url = https://github.com/petrbouchal/czso
[submodule "ispv"]
	path = ispv
	url = https://github.com/petrbouchal/ispv
[submodule "pragr"]
	path = pragr
	url = https://github.com/petrbouchal/pragr
[submodule "purrrow"]
	path = purrrow
	url = https://github.com/petrbouchal/purrrow
[submodule "statnipokladna"]
	path = statnipokladna
	url = https://github.com/petrbouchal/statnipokladna
[submodule "vsezved"]
	path = vsezved
	url = https://github.com/petrbouchal/vsezved
