[submodule ".registry"]
	path = .registry
	url = https://github.com/petrbouchal/universe
	shallow = true
	branch = HEAD
[submodule "czso"]
	path = czso
	url = https://github.com/petrbouchal/czso
	shallow = true
	registered = true
[submodule "statnipokladna"]
	path = statnipokladna
	url = https://github.com/petrbouchal/statnipokladna
	shallow = true
	registered = true
[submodule "vsezved"]
	path = vsezved
	url = https://github.com/petrbouchal/vsezved
	shallow = true
	registered = true
[submodule "purrrow"]
	path = purrrow
	url = https://github.com/petrbouchal/purrrow
	shallow = true
	registered = true
